body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(47, 232, 244) 0.1%,
    rgba(160, 244, 202, 0.86) 57.5%
  );
  font-family: "Lemon", serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 50px;
}

section.instagram-embeds {
  padding-left: 50px;
  padding-top: 50px;
}

section.instagram-embeds h3 {
  padding-bottom: 20px;
}

.img-responsive {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-footer-section {
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.second-part {
  background-color: #f8f8f8;
  padding: 100px;
}

.text-center {
  text-align: center;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("../images/ullal-beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 110px;
}

header h1 {
  font-family: "Lemon", serif;
  font-weight: 100;
  font-size: 60px;
  line-height: 1.5;
}

header h2 {
  font-family: "Lemon", serif;
  font-weight: 50;
  font-size: 20px;
  line-height: 1.5;
}

header h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5;
}

main {
  background: whitesmoke;
}

main h2 {
  font-family: "Merriweather", serif;
  font-weight: 200;
  font-size: 15px;
  opacity: 0.6;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0;
}

main h3 {
  font-family: "Caladea", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

main h4 {
  font-family: "Caladea", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1;
  margin: 0;
}

main h5 {
  font-family: "Caladea", serif;
  font-weight: 900;
  font-size: 11px;
  line-height: 1;
  margin: 0;
}

main p {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 1.5;
  opacity: 0.6;
}

.btn {
  display: block;
  color: #495a63;
  font-family: "Merriweather", serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background: linear-gradient(
    243.4deg,
    rgb(0, 215, 206) 13%,
    rgb(0, 132, 255) 98%
  );
  text-decoration: none;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card-header.grid.grid-2-columns {
  grid-gap: 0;
}

.embed {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 /0.8;
}

.card-footer {
  padding: 0 30px 30px;
}
footer {
  color: aliceblue;
  background-image: linear-gradient(rgba(40, 107, 78, 0.6), rgba(0, 0, 0, 0.4)),
    url("../images/greenary.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
}

footer h3 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
}

footer p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0.9;

  line-height: 1.8;
}

footer ul {
  padding: 0;
}

footer li {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

footer a {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: azure;
  opacity: 0.7;
}

footer a:hover {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 30px;
  }
  header h2 {
    font-size: 10px;
  }
  header h3 {
    font-size: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
