body {
  background-color: rgb(2, 72, 72);
  font-family: "Lemon", serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 1100px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("../images/ullal-beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  text-align: center;
  padding: 110px;
}

header h1 {
  font-family: "Lemon", serif;
  font-weight: 100;
  font-size: 60px;
  line-height: 1.5;
}

header h2 {
  font-family: "Lemon", serif;
  font-weight: 50;
  font-size: 20px;
  line-height: 1.5;
}

header h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5;
}

footer {
  color: aliceblue;
  background-image: linear-gradient(rgba(40, 107, 78, 0.6), rgba(0, 0, 0, 0.4)),
    url("../images/greenary.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
  padding: 100px 0;
}

footer h3 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
}

footer p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0.8;
  margin-right: 20px;
  line-height: 1.5;
}

footer ul {
  padding: 0;
}

footer li {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

footer a {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: azure;
  opacity: 0.7;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 30px;
  }
  header h2 {
    font-size: 10px;
  }
  header h3 {
    font-size: 10px;
  }
}
